@model WebApplication.Models.CarModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CarModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @ViewBag.car.Brand
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Series)
        </dt>

        <dd>
            @ViewBag.car.Series
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @ViewBag.car.ReleaseYear
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoorNum)
        </dt>

        <dd>
            @ViewBag.car.DoorNum
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @ViewBag.car.Color
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyType)
        </dt>

        <dd>
            @ViewBag.car.BodyType
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
